* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
@font-face {
  font-family: 'AvengeanceMightiestAvenger';
  src: url('fonts/AVENGEANCE_MIGHTIEST_AVENGER_RUS_0.ttf') format('truetype');
}

@font-face {
  font-family: 'WooshComic';
  src: url('fonts/woosh-comic.ttf') format('truetype');
}

body {
  font-family: 'AvengeanceMightiestAvenger', sans-serif;
  background-color: rgba(0, 0, 0, 0.781);
  color: #333;
  text-align: center;
  background-image: url(./jpg/background.webp);
}
.first_block {
  margin-top: -50px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(./jpg/back.jpg);
}
.start {
  margin-top: 150px;
  padding: 15px;
  background-color: #4d0909;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 0px 49px 0px rgba(255, 255, 255, 1);
  color: #eeff00;
}
/*  */
.optimus {
  width: 100%;
  height: 100%;
  margin-top: -50px;
  background-color: #000000;
  position: absolute;
  z-index: 1;
  display: none;
}
.optimus1 {
  width: 100%;
  height: 100%;
  margin-top: -50px;
  background-color: #000000;
  position: absolute;
  z-index: 1;
  display: none;
}
/*  */

@media screen and (max-width: 479px) {
  .optimus-img {
    margin-top: 50px;
    height: 50%;
  }
  .optimus-img1 {
    margin-top: 50px;
    height: 50%;
  }
}
@media screen and (min-width: 480px) {
  .block-all {
    width: 400px;
  }
  .optimus-img {
    margin-top: 50px;
    height: 70%;
  }
  .optimus-img1 {
    margin-top: 50px;
    height: 70%;
  }
}

@media screen and (min-width: 1200px) {
  .block-all {
    width: 800px;
  }
  .optimus-img {
    margin-top: 50px;
    height: 90%;
  }
  .optimus-img1 {
    margin-top: 50px;
    height: 90%;
  }
}
.block-all {
  background-color: #1f1e1ec7;
  padding: 30px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}
h1 {
  color: #00ff88;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #ffffff;
}

select,
input,
button {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  padding: 8px;
  width: 50%;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}
@media screen and (max-width: 720px) {
  select,
  input,
  button {
    font-size: 15px;
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 15px;
  }
}
button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

#problem-container {
  display: none;
  margin-top: 20px;
}

h2 {
  color: #eeff00;
}

#feedback {
  color: #dc3545;
  font-weight: bold;
}
#feedback-image {
  position: absolute;
  bottom: 0;
  left: 5%;
  /* width: 600px; */
}
#watchCartoonBtn {
  display: none;
}
#problem {
  font-size: 300%;
  font-family: 'WooshComic', sans-serif;
  color: #fff;
  font-weight: bold;
}
